<p-dataTable [value]="patient"  selectionMode="single" [(selection)]="selectedUser" [contextMenu]="cm">
        <p-column field="idPatient" header="idPatient"  [sortable]="true"></p-column>
        <p-column field="firstNamePatient" header="FirstNamePatient"  [sortable]="true"></p-column>
        <p-column field="lastNamePatient" header="LastNamePatient" [sortable]="true"></p-column>
        <p-column field="sexPatient" header="sexPatient" [sortable]="true"></p-column>
        <p-column field="dobPatient" header="dobPatient" [sortable]="true"></p-column>
        <p-column field="adressPatient" header="adressPatient" [sortable]="true"></p-column>
        <p-column field="phonePatient" header="phonePatient" [sortable]="true"></p-column>
      </p-dataTable>